/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dancing-script-text {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: italic;
}

.inter-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* Shared styles */
* {
    color: white;
    margin: 0;
}

html,
body {
    background-color: black;
}

.common-parent-container {
    max-width: 1060px;
    width: 90%;
    margin: 0 auto;
}

.common-sections {
    max-width: 1060px;
    width: 90%;
    margin: 100px auto;
}

.common-sections-title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.common-sections-description {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

/* Common all orange button */
.common-orange-button {
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
}

header {
    background: linear-gradient(180deg,
            rgb(17, 17, 17) 70%,
            /* Solid color ends at 70% */
            rgba(119, 119, 119, 0) 100%
            /* Transparent at the bottom */
        );
}


/* NavBar Styles */

nav {
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    list-style: none;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.nav-list li {
    padding: 8px 20px;
    cursor: pointer;
}

.home-nav {
    border-radius: 46px;
    background: rgb(230, 83, 60);
}



/* Banner Section Styles */

.banner-section {
    margin-top: 32px;


}

.banner-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title-description-container {
    max-width: 520px;
}

.banner-title-description-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    text-align: left;
    margin: 0;
}

.banner-title-description-container p {
    padding: 28px 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.banner-title-description-container button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding: 16px 40px;
    border-radius: 42px;
}

.banner-button-container {
    display: flex;
    gap: 14px;
}

.banner-download-btn {
    border: 1px solid white;
    background: none;
}

.banner-img-container {
    /* Banner Image Style */
    position: relative;
}

.banner-img-container h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
}

.banner-img-container p {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
}

.custom-img-card-1 {
    position: absolute;
    top: 125px;
    right: -74px;
    max-width: 193px;
    padding: 16px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}

.custom-img-card-2 {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 421px;
    left: -113px;
    max-width: 220px;
    padding: 20px 23px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
}

.banner-img-circle {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: rgb(230, 83, 60);
}


/* Change your habit section styles */
.change-habit-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.change-habit-title-description {
    margin-bottom: 52px;
}

.change-habit-all-cards-container {
    display: flex;
    justify-content: space-between;
}

.change-habit-cards {
    text-align: center;
}

.change-habit-cards img {
    border-radius: 100%;
    margin-bottom: 30px;
}

.change-habit-cards h1 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.change-habit-cards p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

/* Run an Extra mile section styles */
.run-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-img {
    max-width: 366px;
    border-radius: 18px;
}